@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root{
    --fuentePrimaria: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteSecundaria);
}
html{
    text-decoration: none;
    font-size: 1rem;
    background-color: rgb(230, 230, 230, 0.25);
    color: #363f4d;
}

/* ------------------------------------------------------------------------------------ */
/* globales */
.contenedor {
    width: 90%;
    max-width: 1000px;
    min-width: 462px;
    margin: 0 auto;
}

.titulo{
    margin: 20px auto;
    

}

h1,h2,h3,h4{
    text-align: center;
    font-family: var(--fuentePrimaria);
}
a:link {
    color: #363f4d ;
}
.header__navegacion--enlace:hover{
    background-color: rgb(38, 60, 74) ;
}
a:visited{
    color: #1f201e;
}

.borde{
    border: 5px solid rgb(230, 230, 230);
}

/* ------------------------------------------------------------------------------------------ */
/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/img/encabezado.jpg");;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 140px;
}


.header__logo--imagen{
    max-width: 200px;
    margin-left: 20px;
}   

.header__navegacion ul{
    list-style: none;
    margin-right: 20px;
}
.header__navegacion--enlace{
    display: inline-block;
}
.header__navegacion--enlace a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 5px;
    text-shadow: 1px 1px 2px black;
}

.header__logo a:hover {
    text-shadow: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: relative;
    top: 16px;
    right: 20px;
    font-size: 20px;
    background: #94c023be;
    border-radius: 100%;
    color: #424040;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  
}

#icon-menu:hover{
    background: #88e879;
}

@media  (max-width: 992px) {
    .header {
        height: 180px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .header__logo {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .header__logo--imagen {
        position: static;
        margin: 0 auto;
    }
    .header__navegacion{
        height: 50px;
        margin-bottom: 10px;
        flex-direction: column;
    }


}



/* -------------------------------------------------------------------------------------- */
/* main de todos menos contacto */

.contenedor-grid{
    display: grid;
    /* gap: 1px; */
    grid-template-columns: repeat(4, 1fr);
}


.main {
    grid-column: 2/5;
    
}

.tarjetaVenta{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

.imagenVenta img{
    max-width: 100%;
    width: 180px;
    height: 130px;
}

.descripcionVenta{
    text-align: center;
    width: 300px;
    line-height: 1.6;
}

@media (max-width: 768px){
    .tarjetaVenta{
        flex-direction: column;
    }
    .imagenVenta{
        margin: 0 auto;
    }
    .descripcionVenta{
        margin: 0 auto 10px auto;
    }
}




/* --------------------------------------------------------------------------------- */
/* aside */
.categorias, .iconosContactos, .iframe{
    text-align: center;
    margin: 20px auto;
}

.colorC{
    color: #94c023be;
}

.verde{
    color:  rgb(76, 167, 81);
}

.categorias ul {
    list-style: none;
    line-height: 30px;

}
.categorias a{
    text-decoration: none;
   
}

.iconosContactos a{
    line-height: 35px;
    color: rgb(76, 167, 81);
}

.contenedorIframe{
    margin-left: 20px ;
}

@media (max-width: 1090px){
    .contenedorIframe{
        margin-left: 10px;

    }
}
@media (max-width: 992px){
    .contenedorIframe{
        margin: 0 auto;
    }
}

.iframe{
    align-items: center;
    border-radius: 25px;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------------------- */
/* contacto */

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0 20px 0;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus{
    border: 3px solid rgb(230, 230, 230);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error{
    font-size: 1rem;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-active{
    display: block;
}
.formularion__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 1rem;
    opacity: 0;
    color: black;
}

.formulario__checkbox{
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column:  span 2;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-active{
    display: block;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 1.1s ease all;
}
.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    margin: 10px auto;
    display: none;
}

.formulario__mensaje-exito-active{
    display: block;
}

.formulario__grupo-correcto
.formularion__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto 
.formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto 
.formulario__input{
    border: 3px solid #bb2929;
}

.formulario__grupo-incorrecto
.formularion__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
        grid-column: 1;
    }
    .formulario__btn{
        width: 100%;
    }

}

/* --------------------------------------------------------------------------------- */
/* combos */

.grid-container2{
    display: grid;
    grid-template-areas: 'carousel carousel carousel carousel carousel carousel';
                         /* 'banner-publicidad combo-1 combo-2 combo-3 combo-4 combo-5'
                         'banner-publicidad combo-6 combo-7 combo-8 combo-9 combo-10';  //lo comento para hacer la prueba del procedimiento que hizo en clase el profesor de las tarjetas con javascript*/
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    background-color:rgb(230, 230, 230);
    grid-template-columns:repeat(6, 3fr);
    grid-template-rows: repeat(6, auto);
    border-radius: 10px;
    gap: 5px;
    text-align: center;
    
}
.grid-item1 {
    grid-area: 'carousel';
    height: auto;
    width: auto;
    max-width: 1000px;
    border-radius: 30px whitesmoke;
    background-color:#A8CF45;
    grid-column: 1 / 7;
}
.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 200px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding:  0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;

}
.slick-arrow{
    border-radius: 30px;
    background-color: whitesmoke;
    position:absolute;
    z-index: 4;
    width: 40px;
    height: 40px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,1.5);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline:auto;
}
.slick-arrow svg{
    width: 25px;
    height: 100%;
    color: grey;
}
.slick-prev{
    left: 5px;
}
.slick-next{
    right: 0px;
}




.grid-container2 > div
.grid-container2.carousel {
    grid-area: carousel;
}


.animate__swing {
    --animate-duration: 1s;
    text-align: center ;
    font-size: xx-large;
    background: linear-gradient(#540535, #7e084d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 2s linear ;
 
    
  } 

/*-----------fin de estilos página combos------------*/


/*---------responsive de pagina COMBOS--------------*/

@media screen and (max-width: 768px) { 
    .grid-container2{
        grid-template-areas:  'carousel carousel carousel carousel carousel carousel'
                              'banner-publicidad combo-1 combo-2 combo-3 combo-4 combo-5'
                              'banner-publicidad combo-6 combo-7 combo-8 combo-9 combo-10';

    }
}  

@media screen and (max-width: 450px) { 
    .grid-container2{
        grid-template-areas:  'carousel carousel carousel carousel carousel carousel';

    } 
}  
/*-------------ESTILOS DE LAS TARJETAS---------*/
.grid-container3{
    display: flex;
    padding: 0 100px;
    max-width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;

}

.tarjeta {
    width: 200px;
    border: 1px solid#A8CF45;
    background-color: #A8CF45;
    border-radius: 10px;
    box-shadow: 0 0 10px #727272;
    margin: 15px;
}

.tarjeta img, .imagenCarrusel {
    width: 96%;
    border-radius: 10px 10px 10px 10px;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;

}

.imagenCarrusel{
    max-width: 200px;
    max-height: 250px;
    margin: 0 auto;
    align-items: center;

}

.textocard {
    padding: 10px;
}

.tarjeta a {
    color: blanchedalmond;
    font-size: 23px;
    text-decoration: none;
    background-color: dimgray;
    padding: 5px;
    margin: px;
    border-radius: 10px;
    display: inline-block;

}

.animate__swing{
    margin-bottom: 20px;
}


/* --------------------------------------------------------------------------------------------------- */
/* footer */

.footer{
    text-align: center;
    line-height: 30px;
    
}
.footer .palabraSpan{
    font-weight: 700;
    color: black;
}

.footer .nombreIntegrantes{
    color:#b4ce53;
}

@media screen and (max-width: 1328px) {
   
}
@media screen and (max-width: 960px) {
    
}
@media screen and (max-width: 480px) {
    


}

/*****EVENTOS*******/

.contenedor-eventos{
   
    background-image:url(img/tomando-vino-brindis.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
    margin: auto;
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    height: 360px;
    text-align: center;
    color: rgb(250, 250, 250);
}

.contenedor-eventos h1 {
    display: grid;
    background: #587119;
    font-size: 150px;
    margin-bottom: 70px;
    margin-top: 80px;
    text-align: center;
    font-family: Verdana;
    mix-blend-mode: hard-light;

}
/* ---------animación de la palabra EVENTOS----------- */
.animate__fadeInDown {
    --animate-duration: 1s;
    text-align: center ;
    font-size: xx-large;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 1s linear;
    font-display: flex;
   }

/* ---------animación del título----------- */
   .animate__fadeInRight {
    --animate-duration: 1s;
    text-align: center ;
    font-size: 110;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 1s linear;
    font-family: Helvetica ;
    font-display: flex;
   }
/* ---------animación de la foto----------- */

   .animate__fadeInLeft {
    --animate-duration: 1s;
    text-align: center ;
    font-size: 110;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 1s linear;
    font-family: Helvetica ;
    font-display: flex;
   }

   .banner_nota1{
    display: grid;
    grid-template-columns: repeat (1, 5fr);
    grid-template-rows: repeat (6, 5fr) ;
    width: 90%;
    max-width: 1000px;
    text-align: center;  
    margin: auto;
    margin-right:;
    height: 360px;
    text-align: center;


   }

.banner_nota1 img{
    width: 100%;
    margin: auto;
    margin-top: 30px;
      
}

.nota{
    text-align: justify;
    font-family: Helvetica;
    font-size: x-large;
}

/*-----------responsive eventos------*/
